@model DocumentTaskAddViewModel

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Adauga Task</div>
            <div class="panel-body">
                <form asp-controller="DocumentTasks" asp-action="DocumentTasksAdd" class="m-t-lg col-xs-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label asp-for="IdDocumentTaskTemplate" class="control-label"></label>
                        <div class="row">
                            <div class="col-xs-10">
                                <select asp-for="IdDocumentTaskTemplate" asp-items="ViewBag.DocumentTaskTemplates" class="form-control" onchange="onDocumentTaskTemplateChanged()">
                                    <option>Alege un Template Task</option>
                                </select>
                            </div>
                            <div class="col-xs-2 m-t-xs">
                                <i class="fa fa-2x fa-plus" aria-hidden="true" data-toggle="modal" data-target="#modalAddDocumentTaskTemplate"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdDocumentTaskType" class="control-label"></label>
                        <div>
                            <select asp-for="IdDocumentTaskType" class="form-control">
                                <option>Alege un Tip Task</option>
                            </select>
                            <span asp-validation-for="IdDocumentTaskType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdDocumentFromTemplate" class="control-label"></label>
                        <div>
                            <select asp-for="IdDocumentFromTemplate" class="form-control">
                                <option>Alege Documentul Principal</option>
                            </select>
                            <span asp-validation-for="IdDocumentFromTemplate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="OtherDocuments" class="control-label"></label>
                        <div>
                            <select asp-for="OtherDocuments" asp-items="ViewBag.Documents" multiple class="form-control"></select>
                            <span asp-validation-for="OtherDocuments" class="text-danger"></span>
                        </div>
                    </div>

                    <input type="submit" class="btn btn-primary" value="Adauga">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modalAddDocumentTaskTemplate" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Adauga Task Template</h4>
                <small class="font-bold">Introduceti configuratia pentru un task template.</small>
            </div>
            <div class="modal-body">
                <div id="containerDocumentTaskTemplateAdd">
                    @await Html.PartialAsync("_DocumentTaskTemplateAdd", new DocumentTaskTemplateAddViewModel())
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        $(function () {
            @if (TempData.ContainsKey(Notifications.TASK_ADDED))
            {
                <text>window.toastr.success('@TempData[Notifications.TASK_ADDED]', 'Success');</text>
            }
        });

        function onDocumentTaskTemplateChanged() {
            var idDocumentTask = $('#IdDocumentTaskTemplate').val();

            refreshDocumentTaskTypes(idDocumentTask);
            refreshDocumentsFromTemplate(idDocumentTask);
        }

        function refreshDocumentsFromTemplate(id) {
            $.get("/DocumentTasks/GetAllDocumentsByTemplate", { id: id }, function (result) {
                    var select = $('#IdDocumentFromTemplate');
                    select.empty();
                    select.append($("<option />").text('Alege un Document Principal'));
                    $.each(result, function () {
                        select.append($("<option />").val(this.value).text(this.text));
                    });
                })
                .fail(function (xhr, textStatus, errorThrown) {
                    window.toastr.error(xhr.responseText, 'Error!');
                });
        }

        function refreshDocumentTaskTypes(id) {
            $.get("/DocumentTasks/GetAllDocumentTaskTypes", { id: id }, function (result) {
                    var select = $('#IdDocumentTaskType');
                    select.empty();
                    select.append($("<option />").text('Alege un Tip Task'));
                    $.each(result, function () {
                        select.append($("<option />").val(this.value).text(this.text));
                    });
                })
                .fail(function (xhr, textStatus, errorThrown) {
                    window.toastr.error(xhr.responseText, 'Error!');
                });
        }

    </script>
}