@model IList<DocumentTaskViewModel>

@{
    ViewBag.Title = "Tasks";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Tasks</h2>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="file-manager">
                        <a class="btn btn-primary btn-block" asp-controller="Documents" asp-action="DocumentUpload">Adauga Document</a>
                        <a class="btn btn-primary btn-block" asp-controller="DocumentTasks" asp-action="DocumentTasksAdd">Adauga Task</a>
                        <div class="hr-line-dashed"></div>
                        <label class="control-label">Tip Task</label>
                        <div>
                            <select class="form-control" id="selectTipTask" onchange="selectTipTaskOnChange()">
                                <option value="Initiate" selected>Initiate</option>
                                <option value="Finalizate">Finalizate</option>
                            </select>
                        </div>
                        @*<h5 class="tag-title">Tags</h5>
                            @foreach (var tag in ViewBag.Tags)
                            {
                                <ul class="tag-list" style="padding: 0">
                                    <li><a>@tag</a></li>
                                </ul>
                            }*@
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="row">
                <div class="col-lg-12 docs-list" id="containerTasks">
                    @await Html.PartialAsync("_Tasks", Model)
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        function selectTipTaskOnChange() {
            var isFinalizate = $('#selectTipTask').val() === "Finalizate";

            $.get("/DocumentTasks/GetTasksInitiate", { final: isFinalizate }, function (result) {
                    $('#containerTasks').html(result);
                })
                .fail(function (xhr, textStatus, errorThrown) {
                    window.toastr.error(xhr.responseText, 'Error!');
                });
        }

    </script>
}