@model int

<div class="row">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>@(Model + 1) - Tip Task</h5>
        </div>
        <div class="ibox-content form-inline">
            <div class="form-group">
                <input type="text" name="Types[@Model].Name" placeholder="Nume Tip Task" class="form-control">
                <input type="number" name="Types[@Model].DaysLimit" placeholder="Limita de timp(zile)" class="form-control">
            </div>
            <div class="form-group">
                <select name="Types[@Model].Paths" id="Types[@Model].Paths" multiple></select>
            </div>
        </div>
    </div>
</div>