@model DocumentUploadViewModel

<form asp-controller="Documents" asp-action="DocumentUpload">
    <input type="hidden" asp-for="IsTemplate" value="True" />

    <input type="submit" class="btn btn-primary" value="Adauga">
</form>