@model IEnumerable<DocumentViewModel>
@{
    ViewBag.Title = "Documents";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Documents</h2>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="file-manager">
                        <a class="btn btn-primary btn-block" asp-controller="Documents" asp-action="DocumentUpload">Adauga Document</a>
                        <div class="hr-line-dashed"></div>
                        <h5>Folders</h5>
                        @*<ul class="folder-list" style="padding: 0">
                                <li><a href=""><i class="fa fa-folder"></i> Files</a></li>
                            </ul>*@
                        <h5 class="tag-title">Tags</h5>
                        @*<ul class="tag-list" style="padding: 0">
                                <li><a href="">Family</a></li>
                            </ul>*@
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    
                    @foreach (var document in Model)
                    {
                        <div class="file-box">
                            <div class="file">
                                <a href="#">
                                    <span class="corner"></span>

                                    <div class="icon">
                                        <i class="img-responsive fa fa-film"></i>
                                    </div>
                                    <div class="file-name">
                                        @document.Name
                                        <br />
                                        <small>Added: Fab 18, 2014 @document.DateAdded.ToString("MMMM dd, yyyy")</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>

        $(function () {
            @if (TempData.ContainsKey(Notifications.DOCUMENT_UPLOADED))
            {
                <text>toastr.success('@TempData[Notifications.DOCUMENT_UPLOADED]', 'Success');</text>
            }
        });

    </script>
}