.login-back{
    position:absolute;
    display:table;
    width:100%;
    height:100%;
    background-image:url(../img/back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 2s ease-out;
    -webkit-transition: background-image 2s ease-out;

}

.login-back > .middle-box{
    display: table-cell;
    vertical-align:middle;
}

.login-back > .middle-box > div{
    margin-left: auto;
    margin-right: auto; 
    width: 350px;
}

.login-box{
    background-color:white;
    padding: 10px 10px 20px 10px;
    border-radius: 15px 50px 30px;
    box-shadow: #888888 2.5px 2.5px 1px;
}

.navbar-brand img{
    display: inline;
    height:100%;
}

.navbar-brand img:hover{
    display: inline;
    height:100%;
}

.navbar-header .navbar-brand{
    opacity: .87;
}

.navbar-header .navbar-brand:hover{
    opacity: 1;
}


.doc-box{
    width:300px;
    background-color:white;
    box-shadow: 1.5px 1.5px 1px #888888;
    margin: 10px;
    text-align:left;
    border-radius: 0px 5px 10px 0px;
}

.doc-box > * {
    padding-left: 10px;
    padding-right: 10px;
}

.doc-title{
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 15px;
    margin-bottom: 10px;
    background-color: #1ab394;
    color:white;
    border-radius: 0px 5px 0px 0px;
}

.doc-desc{
    font-size: 14px;
}

.doc-type{
    height:200px;
    text-align:center;
}
.doc-type img{
    height:100%;
}

.doc-actions{
    padding-bottom: 10px;
}

.del-icon{
    position:absolute;
    top:2px;
    right:5px;
    font-size: 15px;
    text-decoration:none;
}

.del-icon > a{
    color: #8c8c8c;
}

.del-icon > a:hover{
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.tag-list li a.tag-selected{
    background-color: #1ab394 !important;
    border-color: #1ab394;
    color: #FFFFFF
}

.ui-autocomplete.ui-front
{
    z-index: 3000 !important;
}