@{
    ViewBag.Title = "Home Page";
}


@*<div class="ibox">
    <div class="ibox-content">
        <div class="text-center">
            <h3>Bine ai venit, @User.Identity.Name, la CWND</h3>
            <span>(Content Workflow Management Document)</span>
            <div style="margin-top:20px;">
                <a class="btn btn-default">Creare document</a>
                <a class="btn btn-info">Vizualizare documente</a>
            </div>
        </div>
    </div>
</div>*@

<div class="page-header">
    <h3>LISTA DOCUMENTE</h3>
</div>

<div class="doc-list text-center">
    <div class="doc-box inline">
        <div class="doc-title"><span>DOCUMENT 1</span></div>
        <div class="doc-desc">Procedura dispozitia rectorului</div>
        <div class="doc-type"><img src="https://upload.wikimedia.org/wikipedia/commons/4/48/Microsoft_Word_logo.png" /></div>
        <div class="doc-actions text-center">
            <a>EDIT</a>
            <a>DELETE</a>
        </div>
    </div>

    <div class="doc-box inline">
        <div class="doc-title"><span>DOCUMENT 2</span></div>
        <div class="doc-desc">Procedura desfasurarea achizitiilor</div>
        <div class="doc-type"><img src="http://norm4building.org/wp-content/uploads/2015/07/template-icon-prod-400x400-300x300.png" /></div>
        <div class="doc-actions text-center">
            <a>EDIT</a>
            <a>DELETE</a>
        </div>
    </div>

    <div class="doc-box inline">
        <div class="doc-title"><span>DOCUMENT 2</span></div>
        <div class="doc-desc">Procedura desfasurarea achizitiilor</div>
        <div class="doc-type"><img src="http://norm4building.org/wp-content/uploads/2015/07/template-icon-prod-400x400-300x300.png" /></div>
        <div class="doc-actions text-center">
            <a>EDIT</a>
            <a>DELETE</a>
        </div>
    </div>

    <div class="doc-box inline">
        <div class="doc-title"><span>DOCUMENT 2</span></div>
        <div class="doc-desc">Procedura desfasurarea achizitiilor</div>
        <div class="doc-type"><img src="http://norm4building.org/wp-content/uploads/2015/07/template-icon-prod-400x400-300x300.png" /></div>
        <div class="doc-actions text-center">
            <a>EDIT</a>
            <a>DELETE</a>
        </div>
    </div>

    <div class="doc-box inline">
        <div class="doc-title"><span>DOCUMENT 1</span></div>
        <div class="doc-desc">Procedura dispozitia rectorului</div>
        <div class="doc-type"><img src="https://upload.wikimedia.org/wikipedia/commons/4/48/Microsoft_Word_logo.png" /></div>
        <div class="doc-actions text-center">
            <a>EDIT</a>
            <a>DELETE</a>
        </div>
    </div>

    <div class="doc-box inline">
        <div class="doc-title"><span>DOCUMENT 2</span></div>
        <div class="doc-desc">Procedura desfasurarea achizitiilor</div>
        <div class="doc-type"><img src="http://norm4building.org/wp-content/uploads/2015/07/template-icon-prod-400x400-300x300.png" /></div>
        <div class="doc-actions text-center">
            <a>EDIT</a>
            <a>DELETE</a>
        </div>
    </div>
</div>
